<h3><%= "Editing #{@department.Name}" %></h3>
<div class="row">
  <div class="col-md-6 col-md-offset-3" >
    <%= form_for(@department,remote: true, html: { style: "display:inline;" }) do |f| %>
      <%= f.label :Name %>
      <%= f.text_field :Name, class: 'form-control' %>
      <br>
      <%= f.label :Remark %>
      <%= f.text_area :Remark, size:'50*10', class: 'form-control' %>
      <br>
      
      <%= f.submit "Apply", class: "btn btn-primary" %>  | 
      <%= link_to "Cancel", " ", class: "btn btn-primary", data: {dismiss: "modal"} %>    
      <% end %>
  </div>
</div>



