<h2 class="header1">Add Department</h2>
<div class="row",id="new_department">
  <div class="col-md-6 col-md-offset-3" >
    <%= form_for(@department,url: department_index_path,remote: true ) do |f| %>
      
      <span id="helpBlock" class="help-block"></span>

      <%= f.label :Name %>
      <%= f.text_field :Name, class: 'form-control' %>
      <br>
      <%= f.label :Remark %>
      <%= f.text_area :Remark, size:'50*10', class: 'form-control' %>
      <br>
      
      <%= f.submit "Apply", class: "btn btn-primary" %>   |  
      <%= link_to "cancel", " ", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


