<div id="show_salary">
	<h2>Salary Details</h2>
	<% if check_admin %>
		<% if @salary.exists? %> 
			<td><%=link_to "Edit Salary Details",edit_salary_path(@salary.ids), remote: true%></td>	 |
			<td><%=link_to "Delete Salary Details",salary_path(@salary.ids),method: :delete,data: {confirm: "Are You Sure?"}, remote: true %></td>	
		<% else %>
			<td><%=link_to "Add Salary Details" , new_salary_path(id: params[:id]) , remote: true%>
			</td>
		<% end %>  |  
	<% end %>
	<%= link_to "Back", " " %> 

	<% @salary.each do |s| %>
		<h3>Date : </h3><%= s.Date_Of_Salary %>
		<br>
		<h3>Amount : </h3><%= s.Amount %>
		<br>
		<br>
	<% end %>
</div>