<h2>Post Details</h2>
<%= link_to "Add new Designation", new_designation_path(id: @department.id)%>
<div class="container">
	<table class="table table-bordered" >
		<thead>
			<tr>
				<th>No.</th>
				<th>Post</th>
				<th colspan="3"><center>Actions</center></th>
			</tr>
		</thead>
	  <tbody>
		<% no = 0	%>
		<% @designation.each do |d| %>
			<tr>
				<td><%= no+= 1 %></td>
				<td><%= d.post %></td>
				<td><%= link_to "Edit",  edit_designation_path(d.id) %></td>
				<td><%= link_to "Delete", designation_path(d.id), method: :delete %>
				</td>
			<% end %>	
			</tr>
		</tbody>
	</table>
</div>

