<%#= render 'form' %>
 <%= form_for(@emp,url: emp_detail_path(params[:id]), remote: true) do |f| %>
      <h3><center>Employee General Details</center></h3>
      <br>
      <%= f.label :FirstName %>
      <%= f.text_field :FirstName, class: 'form-control' %>
      <br>
      <%= f.label :LastName %>
      <%= f.text_field :LastName, class: 'form-control' %>
      <br>
      <%#= f.label :Username %>
      <%#= f.text_field :Username, value: LoginMaster.last.username,readonly: true,class: 'form-control' %>
      <br>
      <%= f.label :Email %>
      <%= f.email_field :Email, class: 'form-control' %>
      <br>
      <%= f.label :Mobile_No %>
      <%= f.telephone_field :Mobile_No, class: 'form-control' %>
      <br>
      <%= f.label :Nationality %>
      <%= f.text_field :Nationality, class: 'form-control' %>
      <br>
      <%= f.label :Marital_Status %>
      <%= f.select :Marital_Status,[:single,:Married] , class: 'form-control' %>
      <br>
      <%#= f.label :login_master_id %>
      <%#= f.hidden_field :login_master_id,:value=>LoginMaster.last.id, 
                                                  class: 'form-control' %>
      <br>
      <%= f.submit "Update", class: "btn btn-primary" %>  |  
      <%= link_to "Cancel", " ", class: "btn btn-primary" %>
<% end %>

 