<h2><%= @emp.FirstName%> <%= @emp.LastName%></h2> 
<div class="container" id="emp_datails">
	First Name : <%= @emp.FirstName %> <br>
	Last Name : <%= @emp.LastName%> <br>
	User Name : <%= @emp.Username%> <br>
	Email : <%= @emp.Email%> <br>
	Mobile No : <%= @emp.Mobile_No%> <br>
	Nationality: <%= @emp.Nationality %> <br>
	Marital Status: <%= @emp.Marital_Status %> <br>
</div>
